.section__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10rem;
    list-style: none;
    width: 22rem;
}

.section__list:nth-child(1) {
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex-flow: row;
    margin-top: 3rem;
}

.section__img {
    height: 30rem;
}

.section__list___children {
    margin-bottom: 2rem;
}

.section__list___children p {
    line-height: 1.8rem;
}

.icon {
    height: 1.6rem;
    margin-bottom: 1.5rem;
    width: 2.1rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 23rem;
}

.content p {
    font-size: 0.8rem;
    text-align: center;
    width: 18rem;
}